
@*
    UILayout Head
*@
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | Bepop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- style -->
    <!-- build:css ../assets/css/site.min.css -->
    <link rel="stylesheet" href="~/Bepop/libs/slick-carousel/slick/slick.css" type="text/css" />
    <link rel="stylesheet" href="~/Bepop/libs/slick-carousel/slick/slick-theme.css" type="text/css" />
    <link rel="stylesheet" href="~/Bepop/assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Bepop/assets/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="~/Bepop/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Bepop/assets/css/modern-overrides.css" type="text/css" />
    <!-- endbuild -->
</head>
