@using BePopJwt.WebUI.Dtos.ArtistDtos
@model List<ArtistWithAlbumsDto>
@{
    ViewData["Title"] = "Artists";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<div id="main" class="layout-row flex">
    <div id="content" class="flex">
        <div class="page-content page-container p-5">
            <h2 class="text-white mb-4">Sanatçılar</h2>
            <div class="row">
                @foreach (var artist in Model)
                {
                    <div class="col-md-6 mb-3">
                        <div class="p-3 b-a rounded h-100">
                            <div class="text-white h5">@artist.Name</div>
                            <div class="text-muted mb-2">Albüm Sayısı: @artist.Albums.Count</div>
                            <small class="text-muted">@artist.Bio</small>
                        </div>
                    </div>
                }
            </div>
        </div>    </div>
    </div>