
@*
   UILayout Footer
*@
<footer id="footer" class="page-footer ">
    <div class="padding bg-dark  b-t">
        <div class="page-container">
            <div class="text-center py-4">
                <span class="text-muted text-sm">&copy; Bepop - JWT Music Platform</span>
            </div>
        </div>
    </div>
</footer>